.searchBox{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.search{
    padding: 5px;
    border: 1px solid #b5afb6;
    border-radius: 4px;
    font-family: "Outfit", sans-serif;
}

.search:focus{
    outline: none;
}