.bagDataContainer{
    width: 80%;
    margin: 30px auto;
}

.bagDataContainer h2{
    margin: 30px;
    text-align: center;
    font-weight: bolder;
    color: #000000;
}

.bagData{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    margin-top: 10px;
    gap: 20px;
    row-gap: 50px;
}
.view-more{
    width: 100%;
    display: flex;
    justify-content: center;
}
.more{
    margin: 30px 0px;
    padding: 10px 30px;
    cursor: pointer;
    background-color: white;
    border: 0px;
    border-radius: 5px;
    transition: all 0.3s;
}
.more:hover{
    color: white;
    background-color:rgb(252, 21, 21) ;
}
@media only screen and (max-width: 625px){
    .bagData{
        grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
        margin-top: 10px;
        gap: 20px;
        row-gap: 50px;
    }

}
