.bagDataContainer{
    width: 80%;
    margin: 30px auto;
}

.bagDataContainer h2{
    margin: 30px;
    text-align: center;
    font-weight: bolder;
    color: #000000;
}

.bagData{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    margin-top: 10px;
    gap: 20px;
    row-gap: 50px;
}

@media only screen and (max-width: 600px){
    .bagData{
        grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
        margin-top: 10px;
        gap: 20px;
        row-gap: 50px;
    }

}