.menu{
    padding: 0px 10px;
}

.menu ul{
    display: flex;
    gap: 20px;
    background-color: #cc6ce5;
    /* background-color: #eeeee6; */
    color: white;
    /* color: rgb(63, 63, 63); */
    padding: 10px;
    border-radius: 10px;  
    
}


li{
    text-align: center;
    list-style: none;
    cursor: pointer;
    /* filter: drop-shadow(0 5px 10px #0009); */
    transition: all 1s ease;
}

.menu .active{
    padding-bottom: 2px;
    border-bottom: 2px solid rgb(255, 255, 255);
}

@media only screen and (max-width: 600px) {
    .menu ul{
        flex-direction: column;
        background-color: #cc6ce5;
        /* background-color: #eeeee6; */
        color: white;
        /* color:rgb(63, 63, 63) ; */
        padding: 10px;
        border-radius: 10px;
    }
    .menu .active{
        border-bottom: 2px solid rgb(255, 255, 255);
    }
}