.menu{
    padding: 0px 10px;
    /* background-color: rgba(0, 0, 0, .4); */
}

.menu ul{
    display: flex;
    gap: 20px;
    color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 10px;  
    
}


.menu li{
    text-align: center;
    list-style: none;
    cursor: pointer;
    /* filter: drop-shadow(0 5px 10px #0009); */
    transition: all 1s ease;
}

.menu .active{
    padding-bottom: 2px;
    border-bottom: 2px solid rgb(0, 0, 0);
}

@media only screen and (max-width: 600px) {
    .menu {
        position: relative;
    }
    .menu ul{
        font-size: 14px;
        position: absolute;
        top: 12px;
        width: 300px;

    }
    .menu .active{
        border-bottom: 2px solid rgb(0, 0, 0);
    }
}