.brandContainer{
    margin: 80px auto;
    padding: 20px;
    width: 80%;
    height: fit-content;
    /* background-color: #eeeee6; */
    border-radius: 10px;
    font-family: "Josefin Sans", sans-serif;
}

.brandContainer h2{
    text-align: center;
    color: #000000;
}

.values{
    display: flex;
    margin: 30px 0px 10px 0px;
    padding: 30px 0px 30px 0px;
    justify-content: space-around;
    align-items: center;
}
.values img{
    width: 150px;
    height: 150px;
    filter: drop-shadow(0 20px 10px #0009);
}

.values p{
    text-align: center;
    margin: 20px 0px 10px 0px;
}

.genuine img{
    width: 220px;
}

@media only screen and (max-width: 800px){
    .brandContainer{
        margin-bottom: 20px;
    }
    .values{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
    }
    .values div{
        padding: 20px;
        justify-self: center;
    }
    .brandContainer h1{
        font-size: larger;
    }
    .values img{
        width: 100px;
        height: 100px;
        filter: drop-shadow(0 20px 10px #0009);
    }
    .genuine img{
        width: 150px;
    }
    
}