.fullView{
    margin: 25px auto;
    width: 80%;
    display: flex;
    /* box-shadow: 0 0 11px #707070;  */
    border-radius: 5px;
    padding: 20px 10px;
    background-color: white;
}
.fullView-img{
    height: fit-content;
}
.fullView-img img{
    height: 500px;

}

.lastView{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}
.lastView hr{
    width: 80%;
}
.lastView-price{
    font-size: 22px;
    font-weight: bold;
    margin: 10px 0px;
}
.lastView-price span{
    font-size: 14px;
    margin-left: 5px;
    font-weight: lighter;
    color: #707070;
}

.lastView-rating{
    display: flex;
    align-items: center;
    width: 160px;
    justify-content: space-between;
    margin: 20px 0px;
}
.lastView-rating .lastView-star{
    background-color: rgb(40, 197, 40);
    color: white;
    padding: 3px 5px;
    border-radius: 5px;
}

.mrp-discount{
    margin: 20px 0px;
    font-size: 18px;
    display: flex;
    width: 160px;
    justify-content: space-between;
}

.color{
    width: fit-content;
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    
}
.color img{
    height: 80px;
    border: 1px solid rgb(175, 175, 175);
    border-radius: 10px;
}

.hex{
    height: 26px;
    width: fit-content;
    border-radius: 50%;
    border: 2px solid rgb(175, 175, 175);
    display: flex;
    padding: 2px;
    justify-content: center;
    align-items: center;
    
}
.hexColor{
    height: 25px;
    width: 25px;
    border-radius: 50%;
}

.lastView-btns{
    border-radius: 5px;
    display: flex;
    margin: 10px 0px;
    align-items: center;    
    width: 150px;
    justify-content: space-between;
    
}

.lastView-btns button{
    border: 0px;
    padding: 5px 15px;
    font-size: 20px;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid black;
}
.lastView-btns p{
    padding: 6px 20px;
    border: 1px solid black;
}

.add-buy{
    display: flex;
    justify-content: center;

    width: 80%;
    margin: 10px 0px;
}
.add-buy button{
    padding: 10px;
    font-size: 15px;
    width: 80%;
    border-radius: 5px;
    border: 0px;
    cursor: pointer;
    background-color: rgb(63, 63, 238);
    color: white;
    transition: all 0.3s;
}
.add-buy button:hover{
    width: 85%;
}


@media only screen and (max-width: 600px){
    .fullView{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 14px;
    }
    .fullView hr{
        width: 80%;
    }
    .fullView-img img{
        height: 200px;
    }
    .lastView{
        align-items: center;
    }
    .mrp-discount{
        font-size: 15px;
        margin: 15px 0px;
    }
    .lastView-price{
        font-size: 18px;
        margin: 5px 0px;
    }
    .lastView-rating{
        margin: 10px 0px;
    }
}