nav{
    width: 80%;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    align-items: center;
    font-family: "Outfit", sans-serif;
    color: rgb(109, 109, 109);
}

.title{
    color: #cc6ce5;
    display: flex;
    gap: 5px;
    padding-right: 50px;
    align-items: center;
    justify-content: center;
}

.title p{
    font-weight: bold;
    font-size: 20px;
}

.add-cart{
    margin: 0px 0px;
    display: flex;
    align-items: center;

}

.add-cart .icons:hover {
    color: #cc6ce5;
}

.add-cart button{
    padding: 10px;
    border-radius: 10px;
    background-color: transparent;
    color: rgb(0, 0, 0);
    font-weight: bold;
    cursor: pointer;
    font-family: "Outfit", sans-serif;
    border: 1px solid #cc6ce5;
}

.add-cart button:hover {
    transform: scale(1.1); 
    background-color: #cc6ce5;  
    color: white;
}



@media only screen and (max-width: 600px) {
    nav{
        width: 90%;
    }
    .title{
        padding: 0;
    }

}