nav{
    width: 80%;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    align-items: center;
    font-family: "Outfit", sans-serif;
    color: rgb(109, 109, 109);
}

.title{
    flex: 1;
    align-self: center;
}
.title p{
    text-align: center;
    font-family: "Playwrite RO", cursive;
    font-weight:bolder;
    font-size: larger;
    color:rgb(0, 0, 0) ;
}


.add-cart{
    margin: 0px 0px;
    display: flex;
    align-items: center;

}

.add-cart .icons:hover {
    color:rgb(0, 0, 0);
}

.add-cart button{
    padding: 10px 15px;
    border-radius: 25px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-family: "Outfit", sans-serif;
    border: 0px;
    background-color: rgb(252, 21, 21);
    transition: all 0.3s;
}

.add-cart button:hover { 
    background-color: white;
    color: black;
}



@media only screen and (max-width: 600px) {
    nav{
        width: 90%;
    }
    .title{
        padding: 0;
    }

}

@media only screen and (max-width: 375px) {
    .title img{
        height: 30px;
        
    }

}