nav{
    margin: 5px;
    padding: 5px 40px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    align-items: center;
}

.title p{
    cursor: pointer;
}

.menu{
    padding: 0px 10px;
}

li{
    list-style: none;
    display: inline;
    padding: 0px 15px;
    cursor: pointer;
    transition: all 1s ease;
}

.menu .active{
    padding-bottom: 2px;
    border-bottom: 2px solid rgb(99, 99, 99);
}

/* li:hover{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-color: #ffee02;
} */

.add-cart{
    margin: 0px 0px;
    display: flex;

}

.add-cart button{
    padding: 10px;
    border-radius: 20px;
    background-color: #5e5e61;
    color: white;
    border: 0;
    font-weight: bold;
    cursor: pointer;
}

.add-cart button:hover {
    background-color: #ffee02;
    transform: scale(1.1);
    color: black;
    
}