.footerContainer hr{
    width: 80%;
    margin: 50px auto;
}

.footer-2nd-container{
    margin: 30px 0px 30px 0px;
    padding: 20px 0px 20px 0px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 30px auto;
}
.footer-2nd-container h1{
    color: #cc6ce5;
}
.footer-2nd-container h4{
    font-size: 20px;
    letter-spacing: 5px;
    color: rgb(0, 0, 0);
}

.footer-2nd-container ul{
    list-style: none;
    padding-top: 10px;
    line-height: 25px;
    color: rgb(112, 112, 112);
}

.facebook:hover{
    color: #3b5998;
}
.instagram:hover{
    color: #E1306C;
}
.twitter:hover{
    color: #1DA1F2;
}
.whatsapp:hover{
    color: #075E54;
}
.youtube:hover{
    color: #FF0000;
}
.linkedin:hover{
    color: #0077B5;
}
@media only screen and (max-width: 600px){
    .footer-1st-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .join{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 20px;
    }

    .footer-2nd-container{
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        border: 1px solid black;
    }

    .footer-2nd-container h1{
        padding-bottom: 20px;
        color: #cc6ce5;
    }
    .footer-2nd-container h4{
        cursor: pointer;
        font-size: 15px;
    }
    .footer-2nd-container ul{
        display: none;
    }

    .footer-2nd-container .newClass{
        display: block;
    }
    .footer-2nd-container li{
        width: 150px;
        text-align: center;

    }
    .arrow {
        border: solid rgb(90, 90, 90);
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
    }
    .down {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }
}